body {
 margin: 0 auto;
}

.header {
 width: 100%;
}

.header__name {
 font-size: 2em;
 width: 100%;
 text-align: center;
}

.main {
 margin: 0 auto;
 width: 100%;
}

.content {
 max-width: 80%;
 margin: 0 auto;
}

.content__text-input {
 width: 100%;
 height: 10vw;
 box-sizing: border-box;
}

.content__keyboard {
 width: 100%;
 box-sizing: border-box;
 display: flex;
 gap: 4px;
 justify-content: space-between;
 flex-wrap: wrap;
 border: 1px solid black;
 background: #d1cccc;
}

.keyboard__key-button {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width: 5rem;
 height: 5rem;
 border-radius: 8px;
 border: 1px solid black;
 text-align: center;
 font-size: 1.5rem;
 font-weight: 400;
}

.keyboard__key-button:hover {
 background-color: blanchedalmond;
}

.keyboard__3key {
 width: 13rem;
}

.keyboard__12key {
 width: 7rem;
}

.keyboard__14key {
 width: 9rem;
}

.keyboard__2key {
 width: 10.5rem;
}

.keyboard__7key {
 width: 28rem;
}

.keyboard__greykey {
 background-color: gray;
}